:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elementos base */
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header .logo-netflix{
    width: 8%;
    margin: 15px 0;
}

header nav{
    margin-left: 5%;
}

header nav a{
    text-decoration: none;
    font-weight: bold;
    color: #AAA;
    margin-right: 20px;
}

header nav a:hover{
    color: #fff;
}

/* filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%) ,url('../img/penny_dreadful06.jpg') no-repeat;

    height: 500px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filme-principal .titulo{
    /*margin-top: 15%;*/
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    color: #AAA;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: 1px solid white;
    border-radius: 5px;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
    margin-top: 5%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-filmes{
    margin-top: 5px;
}

.informacoes-adicionais{
    display: flex;
    flex-direction: row;
    margin: 5px 0 20px 0;

    font-size: 14px;
    color: #AAA;
}

.info-add{
    margin-right: 10px;
}

.relevancia{    
    color: #6aae85;
}

.resolucao{
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 2px 4px;
}

.audio{
    border: 1px solid #AAA;
    border-radius: 3px;
    padding: 2px 4px;
}

.genero-container{
    display: flex;
    flex-direction: row;

    color: #AAA;

    margin-top: 30px;
}

.genero-elemento{
    margin-left: 10px;
}

.genero-container h4{
    font-weight: normal;
}

.item:hover{
    transform: scale(1.1);
    z-index: z-index(default);
}

.item:active{
    transform: scale(0.95);
}

/* O 'padding' neste seletor propiciou o ajuste do zoom no mouseOver */
.owl-stage-outer {
    padding: 10px;
}